#home{
    height: 100%;
    width: 100%;
    /* background: url(d.jpg); */
    /* background-color: aliceblue; */
    background-repeat: no-repeat;
    background-size: cover;
}
.getstart{
    background-color: rgb(244, 131, 199);
    color: white;
    font-weight: bold;
}
.getstart:hover{
    background:rgb(144, 7, 85);
}
#aboutme{
    height: 100%;
    width: 100%;
    
}
#home.card{

    border:3px solid orangered;
}
#foot{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}